* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
}

.top h1 {
    font-family: 'PT Serif', sans-serif;
    font-weight: 700;
    font-size: 2.25rem;
    margin-top: 1rem;
}

.top .description {
    width: 27.5rem;
}

.top .description h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.625rem;
}

.top .description p {
    font-size: 1.2rem;
    font-weight: 400;
}

.the-crew {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80%;
    margin-bottom: 4rem;
}

.the-crew .member-card {
    margin-bottom: 1rem;
    width: fit-content;
}

.member-card + .member-card {
    margin-left: 2rem;
}

.the-crew .member-card h2{
    font-size: 1.2rem;
}

.the-crew .member-card .field {
    display: flex;
    position: relative;

}

.the-crew .member-card .field img {
    width: 14.875rem;
    margin: 0 .625rem .9375rem 0;
}

.the-crew .member-card .field p {
    font-size: .75rem;
    font-family: 'PT Serif', sans-serif;
    text-transform: uppercase;
    height: 1rem;
    width: 10rem;
    transform: rotate(90deg);
    position: absolute;
    top: 21%;
    left: 70%;
    z-index: 10;
}

.footer {
    font-size: 0.875rem;
    color: #444444;
    display: flex;
    justify-content: center;
}

@media(min-width: 769px) {
    .the-crew .member-card:nth-child(3n - 1) {
        padding-top: 4.2rem;
        padding-top: 6rem;
    }
}

@media(max-width: 768px) {
    .top {
        display: flex;
        flex-direction: column;
    }

    .the-crew .member-card:nth-child(even) {
        padding-top: 4.2rem;
        padding-top: 6rem;
    }
}

@media(max-width: 659px) {
    html {
        font-size: 75%;
    }

    .top h1 {
        font-size: 3rem;
    }

    .top .description {
        width: 30rem;
    }
    
    .top .description h3 {
        font-size: 1.6rem;
    }
    
    .top .description p {
        font-size: 1.4rem;
    }
}


@media(max-width: 420px) {
    html {
        font-size: 55%;
    }

    .top h1 {
        font-size: 3.5rem;
    }

    .top .description {
        width: 40rem;
    }
    
    .top .description h3 {
        font-size: 2rem;
    }
    
    .top .description p {
        font-size: 1.8rem;
    }
}


@media(max-width: 375px) {
    html {
        font-size: 50%;
    }

    .top h1 {
        font-size: 3.5rem;
    }
    
    .top .description h3 {
        font-size: 2.5rem;
    }
    
    .top .description p {
        font-size: 2rem;
    }
}

@media(min-width: 1300px) {
    .top {
        width: 60%;
    }
    
    .the-crew .member-card {
        margin: 5rem;
    }
}